<div class="container">
    <div class="card_header">

        <div class="car_header_info">
            <div class="user_info">
                <img src="assets/images/user.webp" alt="">
                <div class="user_info_details">
                    <h3>MemELoRd</h3>
                    <p>10 minutes ago</p>
                </div>
            </div>
    
            <div class="respect">
                <p style="font-weight: bold;">RESPECT +</p>
            </div>
        </div>

        <div class="card_title">
            Lorem ipsum dolor sit amet, 
        </div>

    </div>

    <div class="card_body">
        <img src="assets/uploads/meme.webp" alt="">
    </div>

    <div class="card_category">
        <div class="categories">
            <p>Shrek</p>
        </div>
        <div class="categories">
            <p>Shrek</p>
        </div>
        <div class="categories">
            <p>Shrek</p>
        </div>
        <div class="categories">
            <p>Shrek</p>
        </div>
        <div class="categories">
            <p>Shrek</p>
        </div>
        
    </div>

    <div class="card_about">

        <div class="reaction">
            <i class="fa fa-heart"></i>
            <p style="display: inline;">23</p>
        </div>

        <div class="comments">
            <p>12 Comments </p>
        </div>

        <div class="saves">
            <p>10 Saves</p>
        </div>
    </div>

    <div class="card_comments">

    </div>

    <div class="card_footer">
        <button><i class="fa fa-heart"></i></button>
        
        <button><i class='far fa-comment'></i></button>
        
        <button><i class="material-icons">file_download</i></button>
    </div>
</div>

<div class="container">
    <div class="card_header">

        <div class="car_header_info">
            <div class="user_info">
                <img src="assets/images/user.webp" alt="">
                <div class="user_info_details">
                    <h3>MemELoRd</h3>
                    <p>10 minutes ago</p>
                </div>
            </div>
    
            <div class="respect">
                <p style="font-weight: bold;">RESPECT +</p>
            </div>
        </div>

        <div class="card_title">
            Lorem ipsum dolor sit amet, 
        </div>

    </div>

    <div class="card_body">
        <img src="assets/uploads/meme.webp" alt="">
    </div>

    <div class="card_category">
        <div class="categories">
            <p>Shrek</p>
        </div>
        <div class="categories">
            <p>Shrek</p>
        </div>
        <div class="categories">
            <p>Shrek</p>
        </div>
        <div class="categories">
            <p>Shrek</p>
        </div>
        <div class="categories">
            <p>Shrek</p>
        </div>
        
    </div>

    <div class="card_about">

        <div class="reaction">
            <i class="fa fa-heart"></i>
            <p style="display: inline;">23</p>
        </div>

        <div class="comments">
            <p>12 Comments </p>
        </div>

        <div class="saves">
            <p>10 Saves</p>
        </div>
    </div>

    <div class="card_comments">

    </div>

    <div class="card_footer">
        <button><i class="fa fa-heart"></i></button>
        
        <button><i class='far fa-comment'></i></button>
        
        <button><i class="material-icons">file_download</i></button>
    </div>
</div>
