<section style="text-align: center;" id="welcome">
    <h1>{{ WelcomeText }}</h1>
    <p> {{ name }} </p>
    <p>Age - {{ age }} </p>
    <a href="#" id="generate">Go to the Generation page</a>
    <br>
    <br>
    <div class="router">
        <input type="text" name="route" id="routeTo" placeholder="Route to..">
        <button id="roam">Submit</button>
    </div>

    <p>{{ saxeli }}</p>

    <div LCfor="{{number}}">
        <p id="icon-{{index}}"> Index of the loop - {{index}}</p>
    </div>


</section>